{%extends "layout.html"%}
{%block content%}
<div class="content">
    <div class="media post p-2 border border-light">
        <div class="profile-wrapper border mt-4" >
        <img width="110px"  class="profile-image" src="{{profile}}">
        </div>
        <div class="media-body bg-light m-4 p-4">
          <p class="text-secondary">Username: {{current_user.username}}</p>
          <p class="text-secondary">Email: {{current_user.email}}</p>
        </div>
    </div>
    <form class="mt-4 p-2" method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}  
        <fieldset class="form-group">
            <legend class='m-2'>Account Update</legend>
            <div class="form-group">
                {{form.picture.label(class="form-control-label")}}
                {{form.picture(class="form-control-file")}}
                {% if form.picture.errors%}
                    {% for error in form.picture.errors%}
                        <span class="text-danger">{{error}}</span><br>
                    {%endfor%}
                {%endif%}
            </div>
            <div class="form-group">
                {{ form.username.label(class="form-control-label")}}
                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors%}
                            <span>{{error}}</span>
                        {%endfor%}
                    </div>
                {%else%}
                    {{ form.username(class="form-control form-control")}}
                {%endif%}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label")}}
                {% if form.email.errors %}
                {{ form.email(class="form-control form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.email.errors%}
                        <span>{{error}}</span>
                    {%endfor%}
                </div>
                {%else%}
                {{ form.email(class="form-control form-control")}}
                {%endif%}
            </div>
        </fieldset>
        <div class="form-group">
            {{form.submit(class="btn btn-outline-dark")}}
        </div>
    </form>
</div>
{%endblock content%}