{% extends "layout.html" %}

{% block content%}
<form method="POST" action="">
        {{ form.hidden_tag() }}  
        <legend class='m-2'>{{legend}}</legend>
        <div class="form-group">
                <div class="form-check m-2">
                    {{form.ismarkdown(class="form-check-input")}}
                    {{form.ismarkdown.label(class="form-check-label")}}
                </div>     
                <div class="form-group">
                        {{ form.title.label(class="form-control-label")}}
                        {% if form.title.errors %}
                        {{ form.title(class="form-control form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors%}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.title(class="form-md-control form-control")}}
                        {% endif %}
                </div>
                <div class="form-group">
                        {{ form.article.label(class="form-control-label")}}
                        {% if form.article.errors %}
                        {{ form.article(class="form-control row-5 form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.article.errors%}
                            <span>{{error}}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.article(class="form-control form-control",rows="10")}}
                        {% endif %}
                </div>                        
        </div>
        <div class="form-group">
            <button class="btn btn-outline-dark">Post</button>
        </div>
       
    </form>
{% endblock content%}