{% extends "layout.html" %}
{% block content %}
   
    <div class="post border border-muted p-3 my-4">
        <div class="media">
            <div>
                <h4>{{post.title}}</h4>
                <div class="media">
                        <a class="m-2 text-info card-link" href="{{url_for('userpage',username=post.author.username)}}">{{post.author.username}}</a>
                        <p class="m-2">{{post.date_posted.strftime('%d-%b-%Y')}}</p>
                        <a href="{{url_for('edit', post_id=post.id)}}" class="text-secondary m-2 card-link">{{edit}}</a>
                        <a href="{{url_for('delete',post_id=post.id)}}" class="text-secondary m-2 card-link">{{delete}}</a>    
                </div>
               
            </div>
            <div class="profile-post-wrapper pull-right ml-auto">
                 <img width="70px" class="profile-image" src="{{url_for('static',filename='profiles/'+post.author.image_file)}}">
            </div>
        </div>
        <div class="border-top">
            {% if post.ismarkdown%}
            <div style="white-space: pre-line;overflow:auto">
            {{post.content|markdown}}
            </div>
            {%else%}
            <p class="border-top pt-2 text-secondary" style="white-space: pre-line">{{post.content}}</p>
            {% endif %}
        </div>
        <hr>
        <form method="POST" action=""><div class="form-group ">
            {% if not liked  %}
                {{likeform.submitlike(class="btn-sm btn-outline-dark")}}
            {% else %}
                {{likeform.submitunlike(class="btn-sm btn-outline-dark")}}
            {% endif %}
        </div></form>
    </div>
{% endblock content%}
