*,html,body{
    font-family: 'Playfair Display', serif;
}
.profile-wrapper{
    border-radius:10%;
    width:110px; 
    height:110px; 
    overflow: hidden;
}

.profile-post-wrapper{
    border-radius:10%;
    width:70px; 
    height:70px; 
    overflow: hidden;
}
#sidebar{
    position:fixed;
    top:15%;
    box-shadow: -5px -5px 5px #A0B9BF;
    border-radius:5px;
    background-color:#EFF7FF;
    text-align:center;
}
.navbar{
    font-family: 'Nanum Gothic Coding', monospace;
}
.sidebarlink{
    text-decoration:none;
    color:grey;
}
.sidebarlink:hover{
    text-decoration:none;
    color:green;
}

.post{
    border-radius:5px;
    box-shadow: 2px 2px 0.5px #A0B9BF;
}

@media (max-width:575px){
    #sidebar{
        position:relative;
        box-shadow:none;
    }
}