{% extends "layout.html" %}
{% block content %}
    <h2>PEPPER: A MINIMALISTIC BLOG ...</h2>

    {% for post in posts %}
    <div class="post bg-light p-3 my-4">
        <div class="media">
            <div>
                <h4 class="text-secondary"><a class="card-link text-secondary" href="{{url_for('post', post_id=post.id)}}">{{post.title}}</a></h4>
                <p class="text-info ">by {{post.author.username}} on {{post.date_posted.strftime('%d-%b-%Y')}}</p>   
            </div>
            <div class="profile-post-wrapper pull-right ml-auto">
                 <img width="70px" class="profile-image" src="{{url_for('static',filename='profiles/'+post.author.image_file)}}">
            </div>
        </div>
        <div class="border-top pt-2">
            <p class="text-secondary" style="white-space: pre-line">{{post.content}}</p>
        </div>
    </div>
    {% endfor%}
{% endblock content%}
