{% extends "layout.html" %}
{% block content %}
   
    <div class="post bg-light p-3 my-4">
        <div class="media">
            <div>
                <h4>{{post.title}}</h4>
                <div class="media">
                        <p class="text-mute m-2">by {{post.author.username}}</p>
                        <p class="m-2">{{post.date_posted.strftime('%d-%b-%Y')}}</p>
                        <a href="{{url_for('edit', post_id=post.id)}}" class="text-secondary m-2 card-link">{{edit}}</a>
                        <a href="{{url_for('delete',post_id=post.id)}}" class="text-secondary m-2 card-link">{{delete}}</a>    
                </div>
               
            </div>
            <div class="profile-post-wrapper pull-right ml-auto">
                 <img width="70px" class="profile-image" src="{{url_for('static',filename='profiles/'+post.author.image_file)}}">
            </div>
        </div>
        <div>
            <p class="border-top pt-2 text-secondary" style="white-space: pre-line">{{post.content}}</p>
        </div>
    </div>
{% endblock content%}
