
{%extends "layout.html"%}
{%block content%}
<h2>Explore Pepper's Most Liked Posts</h2>

{%for post in top_posts%}
<div class="card col-xs-11 col-sm-5 col-lg-3 m-1" style="display:inline-block;vertical-align: top">
    <div class="card-body">
      <h5 class="card-title">{{post[0].title}}</h5>
      <small class="card-subtitle mb-2 text-info">{{post[0].author.username}}  {{post[0].date_posted.strftime('%d-%b-%Y')}}</small>
      <div style="height:25vh;overflow:hidden"> 
          {% if post[0].ismarkdown%}
          <div style="white-space: pre-line;overflow:auto">
          {{post[0].content|markdown}}
          </div>
          {%else%}
        <p class="text-secondary" style="white-space: pre-line">{{post[0].content}}</p>
          {%endif%}
      </div>
    </div>
    <div class='m-1'> <a href="{{url_for('post', post_id=post[0].id)}}" style="color:darkgray" class="ard-link" >Read More</a></div>
   
</div>
  
{% endfor %}

{%endblock content%}