<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}"/>
    <link rel="icon" type="image/png" href="{{url_for('static',filename='icon.jpg')}}">
    <script src="https://use.fontawesome.com/a59be35b9f.js"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Pepper Blog</title>
    {% endif %}
</head>
<body>


  <!-- navbar -->
  <nav class="navbar navbar-expand-sm navbar-light border-bottom border-info bg-light p-4">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarspan" 
    aria-controls="navbarspan" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">PEPPER</a>
  
    <div class="collapse navbar-collapse" id="navbarspan">
      <ul class="navbar-nav mr-auto mt-lg-0 pt-1">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('home')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('explore')}}" >Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('newpost')}}" >&#10010;</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mt-lg-0">
        {% if current_user.is_authenticated %}
         <li class="nav-item m-1">
           <a class="btn btn-outline-secondary px-2 py-1" href="{{url_for('logout')}}">Logout</a>
          </li>
        {% else %}
         <li class="nav-item m-1">
            <a class="btn btn-outline-secondary" href="{{url_for('signup')}}">Register</a>
          </li>
          <li class="nav-item m-1">
            <a class="btn btn-outline-secondary" href="{{url_for('login')}}" >Login</a>
          </li>
        {% endif %}
       
      </ul>
    </div>
  </nav>

  <!--sidebar-->
  <div id="sidebar" class=" bg-light col-xs-12 col-sm-3 col-md-2 ml-sm-2 ml-md-5 p-3 " >
    <div>
      <h6 class="text-info">Welcome {{current_user.username}}!</h6>
      <div class="my-2 border-bottom border-info"><a class="sidebarlink" href="{{url_for('account')}}">Account</a></div>
      <div class="my-2 border-bottom border-info"><a class="sidebarlink" href="{{url_for('mypage')}}">Posts</a></div>
      <div class="my-2 border-bottom border-info"><a class="sidebarlink" href="{{url_for('likes')}}">Likes</a></div>
    </div>
    
  
  </div>
          
  <div id="content" class="col-xs-12 col-sm-9 ml-auto mr-4 my-5" style="display:block" >
   {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages%}
      {% for category, message in messages%}
        <div class="alert alert-{{category}}"> {{message}}</div>
      {%endfor%}
    {%endif%}
   {% endwith%}
   {% block content %} {% endblock %}
  </div>



<!-- <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
</body>

<script>
 $(function(){
    $(".navbar-toggler").click(
      function(){
        $(".navbar-toggler").removeClass("collapsed");
        $("#navbarspan").toggleClass("show");
        $(".navbar-toggler").attr("aria-expanded","true");
      },
      function(){
        $(".navbar-toggler").addClass("collapsed");
        $("#navbarspan").toggleClass("show");
        $(".navbar-toggler").attr("aria-expanded","false");
      }
    )
 })
</script>

</html>