{% extends "layout.html" %}
{% block content %}
    <h2 class="text-dark">Liked posts by {{username}}</h2>


    {% for post in posts %}
    <div class="post border border-muted p-3 my-4">
        <div class="media">
            <div>
                <h4 class="text-secondary"><a class="card-link text-secondary" href="{{url_for('post', post_id=post.id)}}">{{post.title}}</a></h4>
                <p class="text-secondary ">by <a class="text-info card-link" href="{{url_for('userpage',username=username)}}">{{post.author.username}}</a> on {{post.date_posted.strftime('%d-%b-%Y')}}</p>   
            </div>
            <div class="profile-post-wrapper pull-right ml-auto">
                 <img width="70px" class="profile-image" src="{{url_for('static',filename='profiles/'+post.author.image_file)}}">
            </div>
        </div>
        <div class="border-top pt-2" style="max-height:800px;overflow:hidden">
                {% if post.ismarkdown%}
                <div style="white-space: pre-line;overflow:auto">
                {{post.content|markdown}}
                </div>
                {%else%}
            <p class="text-secondary" style="white-space: pre-line">{{post.content}}</p>
                {%endif%}
        </div>
        <hr>
    <a class="btn btn-outline-info" href="{{url_for('post', post_id=post.id)}}">Read More</a>
    </div>
    
    {% endfor%}

{% endblock content%}